/* colors : light blue - #b6d6d2; sea blue - #45a29e; dark blue - #2b4251 */
body {
  background: #fefefa;
}
/* background banner images for individual pages */
.homeB {
  background-image: url("./home.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* header menu selection */
header {
  overflow: hidden;
  display: block;
  background: #ffffff;
  width: 75%;
  height: 75px;
  margin: 70px auto;
  box-shadow: 0 7px 16px -5px rgba(0, 0, 0, 0.3);
}

.cart a {
  float: right;
  color: #37474f;
  text-transform: uppercase;
  bottom: 5px;
  padding: 0px 25px;
}
.logo a {
  float: left;
  padding: 12px 40px;
  padding-top: 5px;
  border-right: 1px solid #b4b4b4;
  color: #37474f;
  font-family: serif;
  font-size: 20px;
}
nav,
nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 525;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  margin: 12px 0 0 45px;
  padding-bottom: 12px;
  color: #37474f;
  font-size: 12px;
  font-family: sans-serif;
}

nav ul li a:hover {
  border-bottom: 3px solid black;
}
nav ul li.active a {
  border-bottom: 3px solid black;
}

h1,
a,
h2 {
  text-decoration: none;
  outline: none;
  transition: all 0.25s ease-in-out;
  color: #37474f;
}

/* styling for containers in home */
.contain1 {
  display: block;
  width: 65%;
  height: 250px;
  margin-top: 375px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 7px 16px -2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./contain1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 60px 110px;
  border-radius: 15px 15px 15px 15px;
  /* filter: brightness(80%); */
  /* opacity: 0.9; */
  text-align: left;
}
.contain2 {
  display: block;
  width: 65%;
  height: 250px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 7px 16px -2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./contain3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px 110px;
  border-radius: 15px 15px 15px 15px;
  /* filter: brightness(80%); */
  text-align: left;
}
.contain3 {
  display: block;
  width: 65%;
  height: 250px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  box-shadow: 0 7px 16px -2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("./contain2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px 110px;
  border-radius: 15px 15px 15px 15px;
  /* filter: brightness(80%); */
  text-align: left;
}
.homeH {
  font-family: sans-serif;
  font-size: 2.5em;
  text-align: left;
  font-weight: 500;
  color: white;
}
.homeP {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  color: white;
}
